[user]
	name = u-yas
	email = yuya3.21998@gmail.com
	signingkey = 3FAF37A3B59A6A75
[core]
	editor = code --wait
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = main
